body {
    background-color: #eed0df;
    font-family: Arial, sans-serif;
}

.hero {
    background: linear-gradient(135deg, #864473, #864473);
    padding: 120px 20px;
}

.hero h1 {
    text-shadow: 2px 2px 5px rgb(150, 97, 126);
}

.card {
    border: none;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
}

.card img {
    height: 220px;
    object-fit: contain;
    padding: 20px;
}

.info-box {
    background-color: #eed0df;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.info-box h3 {
    color: #8f0064;
}

pre {
    background-color: #292124;
    color: #ff0080;
    padding: 20px;
    border-radius: 10px;
    overflow-x: auto;
}

code {
    font-family: Consolas, monospace;
}

footer {
    margin-top: 60px;
}